#section-winner {
  background: rgb(241, 241, 241);
}

.card {
  background-color: white !important;
  border-radius: 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border: 2px solid rgb(188, 189, 190);

  &:hover {
    border: 2px solid rgb(14, 131, 248);
  }
}

.profile-card {
  height: 100%;
}

.card-title {
  color: black !important;
  font-size: 1.3rem;
}

/* Wrapper to fix height and maintain equal size */
.image-wrapper {
  position: relative;
  width: 100%;
  height: 250px; /* Fixed height for consistency */
  overflow: hidden;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

/* Overlay effect */
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  font-size: 2rem;
  border-radius: 10px;
}

.image-wrapper:hover .image-overlay {
  opacity: 0.1;
}

.image-wrapper:hover img {
  transform: scale(1.05);
}

/* Footer spacing */
.card-footer {
  padding: 1rem;
}
