.custom-background {
    border-radius: 16px !important;
  }

  .card {
    border: 1px solid rgb(247, 243, 243) !important;
    

    .card-body {
      border-radius: 0.6rem !important;
      color: black !important;
    }
  }

  p{
    font-size: 15px !important;
    font-weight: 400 !important;
  }