.card-body {
    padding: 1.5rem;
  
    .card-title {
      color: black;
    }
  }
  
  .card-header {
    margin: 5px;
    border-radius: 7px;
  }
  
  .add-card {
    .wrapper {
      padding: 3.8em;
    }
  }
  
  .empty-card {
    .wrapper {
      padding: 3.8em;
    }
  }
  