<div class="container mt-2 p-4">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h4 class="text-center uppercase"> Create Forecast Message : {{ title }}</h4>
    </div>

    <button type="button" class="btn-close-modal" (click)="modal.dismissAll()">
      <i class="mdi mdi-close"></i>
    </button>
  </div>

  <form [formGroup]="form">
    <div class="form-group">
      <label for="title">Title </label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
        placeholder="Enter forecast title"
      />
      <div
        *ngIf="form.controls['title'].invalid && form.controls['title'].touched"
        class="text-danger"
      >
        Title is required.
      </div>
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <textarea
        class="form-control"
        id="message"
        formControlName="message"
        placeholder="Enter forecast message"
        rows="10"
      ></textarea>
      <div
        *ngIf="
          form.controls['message'].invalid && form.controls['message'].touched
        "
        class="text-danger"
      >
        Message is required.
      </div>
    </div>


    <div class="form-group">
      <label for="schedule">Schedule for </label>
      <input
        type="datetime-local"
        class="form-control"
        id="schedule"
        [min]="minDateTime"
        formControlName="schedule"
        placeholder="Eg. 5pm"
      />
      <div
        *ngIf="
          form.controls['schedule'].touched &&
          form.controls['schedule'].invalid
        "
        class="text-danger"
      >
        <div *ngIf="form.controls['schedule'].errors?.['required']">
          Set schedule time.
        </div>
        <div *ngIf="form.controls['schedule'].errors?.['pastDate']">
          Schedule time must be in the future.
        </div>
      </div>
    </div>


      <div class="form-group">
      <label for="title"> Debit Type </label>
      <input
        type="text"
        class="form-control"
        id="debitType"
        formControlName="debitType"
        [readOnly]="true"
        placeholder="Enter name"
      />
      <div
        *ngIf="form.controls['debitType'].invalid && form.controls['debitType'].touched"
        class="text-danger"
      >
        Debit Type is required.
      </div>
    </div>




      <div class="form-group">
      <label for="title"> Service Type </label>
      <input
        type="text"
        class="form-control"
        id="serviceType"
        formControlName="serviceType"
        [readOnly]="true"
        placeholder="Enter name"
      />
      <div
        *ngIf="form.controls['serviceType'].invalid && form.controls['serviceType'].touched"
        class="text-danger"
      >
        Service is required.
      </div>
    </div>


    <div class="py-3">
      <button
        type="submit"
        (click)="onSubmit()"
        [disabled]="form.invalid || submitting"
        class="btn btn-primary p-2"
        [disabled]="form.invalid"
      >
        <i class="mdi mdi-plus-circle"></i> Create Forecast
      </button>
    </div>
  </form>
</div>
