
  .page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1; 
    background: rgb(243, 243, 243);
    border-radius: 7px;
    // padding: ;
  }
  
  .bottom-footer {
    text-align: center;
  }
  