/* Add any custom styles here */
.badge {
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;

  &.badge-success {
    background-color: #28a745;
  }

  &.badge-secondary {
    background-color: #6c757d;
  }
}

.page-item {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.page-link {
  background-color: white !important;
  color: dodgerblue;
}

.page-item .active {
  color: dodgerblue !important;
}
