.artists-section {
  .card {
    border-radius: 15px;
    cursor: pointer;
  }

  .thumbnail-date-day {
    color: rgb(255, 255, 255);
  }

  .thumbnail-date-month {
    color: rgb(255, 255, 255);
  }

  div,
  span {
    line-height: 1;
  }

  .thumbnail {
    -webkit-touch-callout: none;
    border-radius: 3px;
    box-sizing: initial;
    height: 52px;
    min-width: 52px;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 52px;
  }

  .grey {
    background-color: #bababaa7;
  }

  .thumbnail .thumbnail-date span,
  .thumbnail .thumbnail-date span {
    display: inline-block;
    line-height: 1;
  }

  .thumbnail .thumbnail-date .thumbnail-date-day {
    font-size: 20px;
    font-weight: 700;
    margin-top: 4px;
    position: relative;
    text-align: center;
    top: 4px;
    width: 100%;
  }

  .thumbnail .thumbnail-date .thumbnail-date-month {
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  .tags-list-town {
    background-color: #056ebdfc;
  }

  .tags-list span {
    border-radius: 2px;
    color: #fff;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 4px;
    margin-right: 5px;
    padding: 4px 6px;
    position: relative;
  }

  .text-over {
    font-size: 1em;
    font-weight: 900;
    color: #fff;
    padding: 20px;
  }

  .card-artist {
    border: 0 !important;
    border-radius: 0 !important;
  }

  .card-img-top {
    border-radius: 0 !important;
    height: 20em;
    background-size: contain;
    object-fit: cover;
    background-repeat: no-repeat;
  }

  .image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }

  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(17 79 133 / 57%);
    // background-color: rgb(99, 79, 42);
    z-index: 1;
    // opacity: .5;

    h2, span{
      // opacity: 1;
      color: orange;
      // font-weight: 200 !important;
    }
  }

  .image-container .card-img-top {
    position: relative;
    z-index: 0;
  }

  .tags-list-town {
    background-color: #274cb0;
  }
  
  /* Top left text */
  .bottom-left {
    position: absolute;
    bottom: 14px;
    left: 16px;
    z-index: 999;
  }

  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: #fff;
    font-size: 10px;
    z-index: 999;
  }

  .top-right {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 999;
  }

  .thumbnail {
    box-shadow:
      0.5rem 0.5rem #00000085,
      -0.5rem -0.5rem #cccccca3;
  }

  .card-artist {
    border: 1px solid #eee;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }

  .tags-list span {
    font-size: 12px !important;
    border-radius: 10px;
    padding: 0.4em 0.9em;
  }
}

.grayscale-overlay {
  transition: filter 0.3s ease;
}

.grayscale-overlay:hover {
  filter: grayscale(100%);
}

 