.modal-wrapper{
    display: flex;
    flex-direction: column;
}

.modal-header {
  text-align: center;
}

.otp-input {
  width: 50px; 
  height: 50px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ced4da;  
  border-radius: 5px;
  margin-bottom: 1rem;
  margin: 8px;
  &:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn{
    margin: 10px;
    padding: 10px 20px;
}


// .close{
//   padding: 5px;
// }