.navbar {
  left: 0 !important;
  // margin-bottom: 4rem !important;
  cursor: pointer;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #056ebdfc !important;
  color: white !important;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 45px;
  align-items: center;
  border-radius: 20px;
}

.menu-items {
  order: 2;
  display: flex;
  margin-bottom: 0;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.menu-items a {
  text-decoration: none;
  color: white !important;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
  text-transform: uppercase;
  font-size: 13.5px;
}

.menu-items a:hover {
  color: #254b9c;
  transition: color 0.3s ease-in-out;
}


.logo{
  object-fit: contain;
  border-radius: 10px;
  width: 100px;
  // height: 100px;
}

.main-title {
  text-transform: uppercase;
  margin-top: 1.5em;
}

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 21px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
    color: white !important;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
    color: white !important;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
    color: white !important;
  }

  .navbar .menu-items {
    padding-top: 20px;
    background: #056ebdfc;
    // color: dodgerblue !important;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 20px;
    transition: transform 0.5s ease-in-out;
  }


  a{
    color: dodgerblue !important;
  }

  .logo {
    position: absolute;
    top: 06px;
    right: 15px;
    font-size: 1.2rem;
    margin-top: 0.7rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  /* ......./ food /......... */
}

@media (max-width: 500px) {
  .testimonial-container {
    flex-direction: column;
    text-align: center;
  }

  .navbar .menu-items li {
    font-weight: 500;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .img-container .btn {
    font-size: 0.7rem;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .showcase-area {
    height: 50vmax;
  }
}
