.draw-card {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border: 2px solid rgba(2, 31, 110, 0.808) !important;

  .card-title {
    color: black;
  }

  p {
    font-size: 13.4px;
  }

  h5 {
    margin: 0 !important;
  }

  .card-header {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .badge-primary {
    border-radius: 4px;
    padding: 2px 10px;
    font-weight: 500;
    font-size: 13px;
    background : none !important;
    border: 1px solid #376cdf !important;
    color: rgb(7, 45, 114);
  }
}
