.tag-multiplier {
    font-size: 18px;
    color: #0a30af;
}

input{
    width: 200px;
    border-radius: 7px !important;
    border: 1px solid #e4e6ec !important;
}


.card{
    background-color: white !important;
    // padding: 10px  !important;
}
  

.card-header,
.card-body{
    padding: 10px !important;
}