<div class="row">
    <div class="ccol-lg-3 col-md-4 col-sm-6 col-12 mb-4 mx-auto card p-3">
      <h5>{{ title }}</h5>
      <div class="row" [formGroup]="form">
        <div class="col-md-12">
          <div class="form-group">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
            />
          </div>

          <div class="form-group">
            <label class="control-label" for="oldPassword">Old Password</label>
            <input
              formControlName="oldPassword"
              [type]="isPasswordVisible ? 'text' : 'password'"
              placeholder="Enter old password"
              type="password"
              id="oldPassword"
              class="form-control"
            />
            <small id="emailHelp" class="form-text text-warning">
              Password must be at least 6 characters long, strong, and unique.
            </small>
            <i
              (click)="togglePasswordVisibility('oldPassword')"
              class="toggle-password fa fa-fw fa-eye-slash"
            ></i>
          </div>

          <div class="form-group">
            <label class="control-label" for="newPassword">New Password</label>
            <input
              formControlName="newPassword"
              [type]="isPasswordVisible ? 'text' : 'password'"
              placeholder="Enter new password"
              type="password"
              id="newPassword"
              class="form-control"
            />
            <small id="emailHelp" class="form-text text-warning">
              Password must be at least 6 characters long, strong, and unique.
            </small>
            <i
              (click)="togglePasswordVisibility('newPassword')"
              class="toggle-password fa fa-fw fa-eye-slash"
            ></i>
          </div>

          <div class="d-grid gap-2">
            <button
              type="submit"
              (click)="submitForm()"
              class="btn btn-primary"
            >
              {{ submitButtonText }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>