.nav-tabs {
  border-bottom: none !important;
}

#section-home {
  flex: 1;
}

.card {
  &.img {
    height: 250px;
    width: 100%;
    transition: 0.25s all;
    &:hover {
      transform: translateY(-3%);
    }
  }

  &:hover {
    transform: scale(1.025);
    border-radius: 0.375rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
  }
}


h1{
  font-weight: 500;
  font-size: 25px;
  color: #FFA500 !important;
  background: white;
  display: inline-block;
  text-align: center;
  padding: .5em 1em;
  border-radius: 37px;
}
