<app-home-hero
  [description]="'Watch our latest draw videos'"
  [title]="'Watch Drawings'"
></app-home-hero>

<section class="container mt-5 p-2">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let video of contents?.videos">
      <div class="card shadow-sm">
        <!-- MP4 Videos -->
        <video
          *ngIf="video.url.endsWith('.mp4')"
          width="100%"
          height="315"
          controls
        >
          <source [src]="video.url" type="video/mp4" />
        </video>

        <!-- YouTube Videos -->
        <iframe
          *ngIf="video.safeUrl"
          width="100%"
          height="315"
          [src]="video.safeUrl"
          frameborder="0"
          allowfullscreen
        ></iframe>

        <div class="">
          <h5 class="card-title">{{ video.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</section>

