<app-home-hero [title]="'Contact Us'" [description]="'Get in touch with us for any inquiries or support.'"></app-home-hero>
<section class="container p-4 text-dark">
  <h2>Contact Information</h2>
  <p>
    If you have any questions or need assistance, please don't hesitate to
    contact us using the contact form below.
  </p>
  <p>
    We value your feedback and are committed to providing you with the best
    service possible.
  </p>

  <div>
    <p><span class="fw-bold"> Email  : </span> {{"support@787winners.com"}} </p>
    <p><span class="fw-bold"> Phone Number : </span> {{"+233 55 968 9948"}} </p>
  </div>

</section>