.file-upload-container-add-contestant {
    margin: 7px 0;
  
    .file-drop-area {
      position: relative;
      display: flex;
      align-items: center;
      //   width: 450px;
      max-width: 100%;
      width: 130px;
      height: 30px;
      border: 1px solid rgba(49, 43, 43, 0.4);
      border-radius: 100px;
      transition: 0.2s;
      margin: 8px;
      cursor: pointer;
  
      &.is-active {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }
  
    .fake-btn {
      flex-shrink: 0;
      background-color: rgba(255, 255, 255, 0.04);
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 3px;
      padding: 8px 15px;
      margin-right: 10px;
      font-size: 12px;
      text-transform: uppercase;
    }
  
    .file-msg {
      font-size: small;
      font-weight: 300;
      line-height: 1.4;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .file-input {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;
      opacity: 0;
      &:focus {
        outline: none;
      }
    }
  
    .file-upload-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    label {
      cursor: pointer;
      background-color: #007bff;
      color: white;
      padding: 10px;
      border-radius: 5px;
    }
  
    label:hover {
      background-color: #0056b3;
    }
  
    .image-preview {
      margin-top: 10px;
    }
  
    .image-preview img {
      border: 1px solid #ddd;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      object-fit: cover;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .progress-container {
      margin-top: 10px;
      width: 100%;
      //   background-color: #f3f3f3;
      border-radius: 5px;
      height: 20px;
      position: relative;
    }
  
    .progress-bar {
      background-color: rgb(3, 82, 10);
      width: 90%;
      height: 5px;
      border-radius: 5px;
      transition: width 0.3s ease;
      margin: 5px;
    }
  }
  
  .all-contestants {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
  
    .contestant-cad {
      background-color: rgb(235, 232, 232);
      margin-bottom: 8px;
      padding: 1em;
  
      img {
        border-radius: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: contain;
      }
    }
  }
  
  .parent {
    display: flex;
    min-height: 100vh;
  }
  
  .item {
    width: 70%;
    // padding: 1em;
    // overflow: scroll;
    // min-height: 500px;
  }
  
  .last {
    color: #222;
    background: #f1f0f0;
    width: 30%;
  
    
  }
  
  @media screen and (max-width: 600px) {
    .parent {
      flex-direction: column-reverse;
    }
  
    .item {
      width: auto;
      width: 70%;
      min-height: 200px;
    }
  
   
  }