<div class="footerr">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-xs-12 about-company">
        <h4>Social Handles</h4>
        <p class="pr-5 text-white-100">
          Follow us on social media for the latest updates, winner announcements, and exclusive promotions. Don’t miss
          out on any opportunity to win big!
        </p>
        <div>
          <a href="#"><i class="fa fa-youtube-square mr-1"></i></a>
          <a href="#"><i class="fa fa-tiktok-square mr-1"></i></a>
          <a href="#"><i class="fa fa-facebook-square mr-1"></i></a>
          <a href="#"><img class="twitter-link" src="/assets/icons/twitter.svg" alt="twitter icon"> </a>
          <a href="#"><i class="fa fa-instagram mr-1"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-xs-12 links">
        <h4 class="mt-lg-0 mt-sm-3">Supporting Link</h4>
        <ul class="m-0 p-0">
          <li><a routerLink="/live"> Home </a></li>
          <li><a routerLink="/terms-and-conditions"> Terms and Conditions </a></li>
          <li><a routerLink="/how-to-play"> How to play </a></li>
          <li><a routerLink="/contacts"> Contact </a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-xs-12 location">
        <h4 class="mt-lg-0 mt-sm-4">Location</h4>
        <p> Location : Accra </p>
        <p> Mobile : {{"+233 55 968 9948"}}</p>
        <p> Registered By NLA </p>
      </div>

      <div class="col-lg-4 col-xs-12">
        <div class="img-footer">
          <img src="assets/images/logo.jpg" alt="logo" class="logo" />
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p class=""><small class="text-white-100"> {{currentYear}}. All Rights Reserved. | Wotiriye Lotteries official</small></p>
      </div>
      <div class="col information hidden">
        <p class="m-0 text-right text-white">Developed by <a class="text-white" href="tel:+233262195121">Guglex Technologies </a></p>
      </div>
    </div>
  </div>
</div>