.breadcrumb-body {
  background-color: #edebeb;
  border-radius: 25rem;
  padding: 0.2rem 1.25rem;
  display: inline-block;
  


  .breadcrumb-item {
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    color: #6c757d;
    position: relative;

    &:not(:last-child)::after {
      content: '/';
      position: absolute;
      right: -10px;
      color: #6c757d;
      font-size: 18px;
    }

    &:hover a {
      color: #007bff;
    }

    &.active {
      color: #6c757d;
    }
  }

  .breadcrumb-item a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
    &:hover {
      color: #007bff;
      text-decoration: underline;
    }
  }
  
  .breadcrumb-item.active {
    color: #6c757d;
    font-weight: 600;
  }
}

