.logo-text {
  font-size: 16px;
  font-weight: 500;
  color: #f8f8f8;
  text-transform: uppercase;
}

.container-scroller {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content-wrapper {
  padding: 20px;
}

.profile {
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.profile-pic{
  background: white;
  padding: 2px;
  color: black;
  border-radius: 7px;
  padding: 5px 10px;
}

.profile:hover {
  opacity: 0.8;
}

.dropdown-menu {
  min-width: 200px;
  margin-top: 15px !important;
  background-color: white !important;
  border: none !important;
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px !important; 
}

.dropdown-item {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: black;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

.sidebar .nav .nav-item .nav-link {
  border-radius: 9px !important;
  padding: 0.65rem 0.5rem !important;
  font-size: 13px !important;

  &:hover {
    background-color: rgba(247, 244, 244, 0.1) !important;
    color: black !important;
    cursor: pointer;
  }

  &:active {
    background-color: rgba(190, 187, 187, 0.1) !important;
    color: black !important;
  }
}

.sidebar
  .nav:not(.sub-menu)
  > .nav-item:hover:not(.nav-category):not(.account-dropdown)
  > .nav-link {
  background: #eeeef0 !important;
  color: #181717 !important;
}

.nav-item .sub-menu .nav-link.active {
  color: #1b1c1d !important;
  background-color: rgb(247, 245, 245);
  border-radius: 6px !important;
}

.sidebar .nav.sub-menu {
  padding: 0 0 0 1.25rem !important;
}

/* General Layout */
.container-scroller {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Navbar */
.app-header-nav-dashboard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: white;
  box-shadow: 0 2px 5px rgba(94, 128, 0, 0.1);
  display: flex;
  align-items: center;
  background-color: #036e42 !important;
  color: white !important;
  padding: 0 20px;
  z-index: 200;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #fff;
  z-index: 100;

  .nav {
    padding-top: 0 !important;
  }
}

.sidebar.open {
  left: 0; /* Show when open */
}

/* Main Panel */
.main-panel {
  flex: 1;
  margin-left: 0;
  overflow-y: auto;
  height: 100vh;
  border-left: 1px solid gainsboro !important;
}

.sidebar.open ~ .main-panel {
  margin-left: 300px;
}

/* Menu Toggle Button */
.menu-toggle-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.sub-menu-icon {
  font-size: 14px !important;
  margin-right: 10px;
  color: #d7dce0;
  transition: color 0.3s ease-in-out;
}

.sidebar .nav .nav-item .menu-icon {
  background-color: inherit !important;

  &:hover {
    background-color: inherit !important;
  }
}

.sidebar .nav .nav-item .menu-icon {
  border-radius: 3px;
  font-size: 14px !important;

  img {
    width: 18px;
    height: 18px;
  }

  &.menu-icon {
    i {
      color: rgb(70, 68, 68) !important;
      font-size: 1.5em;
      background: white !important;
    }
  }
}
